<div class="sidebar hidden-print" style="text-align: center;" role="complementary">
    <div class="navigation">
        <h1></h1>
        <a href="{{ site.url }}">
            <img src="/styles/images/legolas99x99.jpg" class="img-circle">
        </a>
        <h1>{{ site.author }}</h1>
        <div class="row">
            <a class="tag" href="{{ '/archives' | prepend: site.baseurl }}">
                <i class="glyphicon glyphicon-book"></i>
                归档({{ site.posts | size }})
            </a>
            <a class="tag" href="{{ '/categories' | prepend: site.baseurl }}">
                <i class="glyphicon glyphicon-paperclip"></i>
                分类({{ site.categories | size }})
            </a>
            <a class="tag" href="{{ '/tags' | prepend: site.baseurl }}">
                <i class="glyphicon glyphicon-tags"></i>
                标签({{ site.tags | size }})
            </a>
        </div>
    </div>
    <div class="navigation">
        <h4 class="bg bg-info">{{ site.meta_description }}</h4>
        <h4>{{ site.description }}</h4>
    </div>
    <div class="navigation">
        <ul>
            <a type="button" href="{{ site.weibo }}" class="btn btn-primary btn-sm" title="weibo">
                <i class="fa fa-weibo"></i>
            </a>
            <a type="button" href="{{ site.facebook }}" class="btn btn-primary btn-sm" title="facebook">
                <i class="fa fa-facebook"></i>
            </a>
            <a type="button" href="{{ site.twitter }}" class="btn btn-primary btn-sm" title="twitter">
                <i class="fa fa-twitter"></i>
            </a>
            <a type="button" href="{{ site.github }}" class="btn btn-primary btn-sm" title="github">
                <i class="fa fa-github"></i>
            </a>
            <a type="button" href="{{ site.linkedin }}" class="btn btn-primary btn-sm" title="linkedin">
                <i class="fa fa-linkedin"></i>
            </a>
        </ul>
        <ul>
            <a type="button" href="{{ site.email | | prepend: 'mailto:' }}" class="btn btn-primary btn-sm" title="email">
                <i class="fa fa-envelope"></i>
            </a>
        </ul>
    </div>
</div>
