---
layout: default
---

<div class="container docs-container">
	<div class="row">
		<div class="col-md-9" role="main">
			<div class="panel docs-content">
				<div class="wrapper">
					<header class="post-header" style="text-align:center;">
                        <h1 class="post-title">{{ page.title }}</h1>
                    </header>
					<hr>
					<article class="post-content">
						{{ page.content }}
					</article>
        		</div>
    		</div>
		</div>
		<div class="col-md-3">
			{% include profile.html %}
        </div>
	</div>
</div>
